@model UyeSayfasiViewModel
@{
    ViewData["Title"] = "Üye Detay";
}

<h1>Üye Bilgileri</h1>

<table class="table table-striped">
    <tr>
        <td>Ad</td>
        <td>@Model.Kullanici.Ad</td>
    </tr>
    <tr>
        <td>Soyad</td>
        <td>@Model.Kullanici.Soyad</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Kullanici.Email</td>
    </tr>
    <tr>
        <td>Kullanıcı Adı</td>
        <td>@Model.Kullanici.KullaniciAdi</td>
    </tr>
    <tr>
        <td>Şifre</td>
        <td>@Model.Kullanici.Sifre</td>
    </tr>
</table>

<h1>Adres Bilgileri</h1>

@if (Model is not null)
{
    <table class="table table-striped">
        <tr>
            <td>Şehir</td>
            <td>
                @Model.Adres.Sehir
            </td>
        </tr>
        <tr>
            <td>Ilce</td>
            <td>@Model.Adres.Ilce</td>
        </tr>
        <tr>
            <td>Açık Adres</td>
            <td>@Model.Adres.AcikAdres</td>
        </tr>
    </table>
}