@{
    ViewBag.Title = "MVC Razor Syntax";

    string adi = "Ali";
    string[] isimler = { "Nisa", "Mesut", "Mert", "Batuflex", "Hareketin Lideri" };
    string urunadi = "Bilgisayar";
    decimal fiyat = 18000;
    decimal kdv = 1.20M;
    var tarih = DateTime.Now; // sistem tarihini al
}

<h2>MVC Razor Syntax</h2>

<h3>Title(Sekme Başlığı) : @ViewBag.Title</h3>

<p class="alert alert-success">
    MVC de cshtml dosyalarında c# ve html kodlarını karışık yazabiliyoruz.
    Tanımladığımız c# değişkenlerine ait değerleri ekranda göstermek için at ile koda başlıyoruz.
</p>

<div class="row">
    <div class="col-sm-6">
        <img src="/images/net-core-eticaret-gelistirme-egitimi29.png" alt="" class="img-fluid" />
    </div>
    <div class="col-sm-6">
        <h4>Ürün Adı :  @urunadi</h4>
        <h4>Ürün Fiyatı :  @fiyat ₺</h4>
        <h4>Kdv Dahil :  @(fiyat * kdv) ₺</h4>
    </div>
</div>

<hr />

<h4>
    tarih : @tarih
</h4>

<hr />

<h4>
   Kısa tarih : @tarih.ToShortDateString()
</h4>

<hr />

@if (tarih.Hour > 18)
{
    <h5>İyi Akşamlar</h5>
}
else if (tarih.Hour > 12 && tarih.Hour < 18)
{
    <h5>İyi Günler</h5>
}
else
{
    <h5>İyi Sabahlar</h5>
}

<hr />

<h2>Dizideki İsimler</h2>

@foreach (var isim in isimler)
{
    if (isim == isimler[0])
    {
        <div class="active">İlk İsim : @isim</div>
    }
    @isim
    <hr />
}

<hr />
Listedeki 2. isim : @isimler[1]
<hr />

@foreach (var isim in isimler)
{
    <h6>@isim</h6>
}

<hr />

@foreach (var isim in isimler)
{
    @(isim + " ")
}

<hr />

@foreach (var isim in isimler)
{
   @:İsim: @isim
    <hr />
}

<h3>For Örneği</h3>

@for (var i = 0; i < isimler.Length; i++)
{
    <text>İsim : @isimler[i]</text>
    <hr />
}

<h3>For Örneği 2</h3>

@for (var i = 0; i < isimler.Length; i++)
{
    @:İsim: @isimler[i]
    <hr />
}

<p>
    info@deneme.com şeklinde at ifadesinden ince yapışık metin varsa bunun c# kodu olmadığını razor syntax anlar.
</p>

<h5>
    Kullanıcı Adı: @@aspnet
</h5>

kullanıcı adı vb başında @@ işareti olan bir metin kullanmak için çift @@ işareti eklemeliyiz.

<h3>Üretim Yılı</h3>

<select>
    <option value="">Seçiniz</option>
    @for (int i = DateTime.Now.Year; i > 2000; i--)
    {
        <option value="@i">@i</option>
    }
</select>