@model IEnumerable<Urun>

@{
    ViewData["Title"] = "Ürünler";
}

<h1>Ürünler</h1>

<div>
    <a asp-action="Create" class="btn btn-outline-primary">Yeni Ekle</a>
    <form class="d-flex">
        <input type="search" name="q" placeholder="Ara" class="form-control w-25 me-2" />
        <input type="submit" value="Ara" class="btn btn-outline-secondary" />
    </form>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resmi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stok)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    <img src="/images/@item.Resmi" alt="" height="34" />
                </td>
                <td>
                    @item.Fiyati.ToString("c")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stok)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
